[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/olegcherpak
[access "refs/for/refs/*"]
	read = group user/olegcherpak
	push = group user/olegcherpak
	label-Code-Review = -2..+2 group user/olegcherpak
	label-Verified = -1..+1 group user/olegcherpak
	rebase = group user/olegcherpak
	removeReviewer = group user/olegcherpak
	submit = group user/olegcherpak
[access "refs/heads/*"]
	read = group user/olegcherpak
	create = group user/olegcherpak
	push = +force group user/olegcherpak
	pushMerge = group user/olegcherpak
[access "refs/tags/*"]
	push = group user/olegcherpak
	push = +force group user/olegcherpak
